<?xml version="1.0"?>
<model>
  <name>fanuc_m20i</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>data_collect_sim</name>
    <email>dev@example.com</email>
  </author>
  <description>Simple Fanuc M-20i model with 2D and 3D cameras for weld cell simulation.</description>
</model>
