<?xml version='1.0'?>
<model>
    <name>panda_arm_namespaced</name>
    <version>1.0</version>
    <sdf version='1.7'>model.sdf</sdf>

    <description>
        Franka Emika Panda robot with Gazebo sensors and ros2_control under the /robot namespace.

        Initially copied from https://app.ignitionrobotics.org/AndrejOrsula/fuel/models/panda
    </description>
</model>
